.pageWrapper{
	.filterWrapper{
		.filterSubtitle, .filterLabel{
    		font-size: 14px;
    		padding: 6px 0 7px;
    		border-bottom: 1px solid #ced9ee;
    		margin-bottom: 25px;
    		h5{
    			text-transform: uppercase;
    			font-size: 14px;
    			display:inline-block;
    		}
    		a{
    			float: right;
			    color: #79899d;
			    font-weight: normal;
			    font-size: 13px;
			    margin-top: 1px;
    		}
		}
		.filterLabel{
			border:none;
			h5{
				text-transform: none;
				margin-right: 5px;
			}
		}
		.filterComponents{
			margin-bottom: 25px;
			.ant-checkbox-wrapper{
				margin-bottom:10px;
				.ant-checkbox-checked{
					.ant-checkbox-inner{
						background-color: #56D48F;
    					border-color: #56D48F;						
					}
				}
			}
			.ant-slider{
				.ant-slider-rail{
					background:#e1e1e1;
				}
			}
		}
	}
}