body{
	background:#F4F7FA;
}

.container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 90%;
    width:100%;

}

.pageWrapper{
    display: flex;
    min-height: 0;
    flex-direction: column;
    flex: 1;
    padding-top: 100px;
    position: relative;
}