.navbar-main {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,1,0.2);
    box-shadow: 0 2px 4px rgba(0,0,1,0.2);
    font-size: 13px;
    width: 100%;
    top: 0;
    border-color: #e7e7e7;
    position: fixed;
    height: 70px;
    z-index: 10;
    .container{
    	.logo{
		    width: 170px;
		    height: 31px;
		    background: url('../images/logo.jpg') no-repeat;
		    background-size: contain;
		    margin: 16px 28px 16px 0;
		    float: left;
	    }
	    .ant-menu{
	    	float:right;
	    	border: none;
	    	li{
	    		text-transform: uppercase;
			    font-size: 12px;
			    font-weight: 500;
			    white-space: nowrap;
	    	}
	    }
    }
    
}