.pageWrapper{

	.infoWrapper{
		.signUp{
			margin: 10px 0px 40px 0px;
			padding: 40px 0px;
			width:100%;
			background:#fff;
			text-align:center;
			h2{
				margin:0;
			}
			.ant-btn {
				margin:10px 0px;
			}
			svg{
				fill:#55A8FD;
				width:5em;
				height:5em;
				transform:rotate(180deg);
			}
		}
		.portalPicks{
			margin: 10px 0px 40px 0px;
			.title{
				border-bottom: 1px solid #ced9ee;
    			margin-bottom: 25px;
			}
			.desc{
				font-size:12px;
				margin-bottom:20px;
			}
		}
	}
}