.pageWrapper{
	.jobListWrapper{		
		.contentSection{
	        margin: 10px 24px;
			padding: 0px 20px;
    		background: #FFF;
		}
		.ant-badge{
			&.hourly .ant-badge-count{
				background: #56D48F;
			}
			&.part-time .ant-badge-count{
				background: #FFC14A;
			}
			&.full-time .ant-badge-count{
				background: #4BD3FF;
			}
		}
		a{
			color: #000;
		}
		.titleSection{
			.subSection{
				.subItem{
					margin: 0px 10px 0px 0px;
					display:inline-block;
				}
				.subTitle{
					font-size:14px;
					color: rgba(0, 0, 0, 0.45);				
					svg{
						fill:#40a9ff;
					}
					&.anticon-environment svg{
						fill: #56D48F;
					}
					&.coderType{
						color:#40a9ff;
					}
				}
			}
		}
		.ant-list-pagination{
			text-align:center;
			.ant-pagination {
				.ant-pagination-prev{
					float:left;
				}
				.ant-pagination-next{
					float:right;
				}
			}
		}
		
	}
}