.pageWrapper{
	.searchComp{
		margin-bottom: 30px;
		.ant-input{
		    height: 54px;
		    padding: 18px 24px;
		    font-size: 14px;
		    line-height: 1.3333333;
		    border-radius: 4px;
		    border: none;
		}
		button{
			&.ant-btn-lg{
				height: 54px;
    			min-width: 150px;
			}			
		}
		&:after{
		    content: '';
		    display: block;
		    width: 98%;
		    height: 100%;
		    margin-right: auto;
		    margin-left: auto;
		    position: absolute;
		    top: 5px;
		    right: 0;
		    left: 0;
		    z-index: -1;
		    opacity: .2;
		    background-color: #000;
		    filter: blur(8px);
		}
	}
}